@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Batuhan Özen<br />
    <abbr title="Phone">Phone:</abbr>
     0533 233 98 35<br />
    Email: ozenbatuhan1@gmail.com<br />
    <a href="https://www.facebook.com/batuuzen" target=new><img src="http://in.sitekodlari.com/fb/facebook1.png" border="0"></a>
    <a href="http://Instagram.com/batuuzen" target=new><img src="http://in.sitekodlari.com/insta/22.png" border="0"></a>
    <a href="http://twitter.com/ccelibon" target=new><img src="http://in.sitekodlari.com/tw/19.jpg" border="0"></a>
@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
*@
    <br />
</address>