@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
             /*background-repeat: repeat;*/
            background-image: url('../../resimler/resim.jpg');
            background-attachment: scroll;
            background-color: white;
        }
    </style>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>

</head>
<body>

</body>
</html>